.DrawerToggle {
  width: 24px;
  height: 2px;
  background-color: white;
  position: relative;
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
}

.DrawerToggle::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 24px;
  height: 2px;
  background-color: #fff;
}

.DrawerToggle::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #fff;
}
